{% extends "提議連署/框.html" %}

{% block 內容 %}
	<form action='http://www.uisltsc.com.tw/appendectomy/proposal.php' method='post'>{% csrf_token %}
	負責人email：
	<input type="text" name='email'></input>
	第一位提議人：
	<input type="text" name='Name_0'></input>
	<input type="text" name='IDNo_0'></input>
	<input type="text" name='Sex_0'></input>
	<input type="text" name='Birthday_0'></input>
	<input type="text" name='Occupation_0'></input>
	<input type="text" name='RegAdd_0'></input>
	<input type="text" name='QRImgPath_0'></input>
	<input type="submit"/>
	</form>
{% endblock %}